<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/doAdd">
        电脑品牌:<input type="text" name="name"><br>
        电脑价格:<input type="text" name="price"><br>
        进货数量:<input type="text" name="amount">
        <input type="submit" value="确定">
    </form>
</body>
</html>